body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #fafafa;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color:#2A2A2A;
}
.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}
.btn{
    margin-top: 10px;
    background: #333;
    color: white;
    padding: 10px 20px;
    outline: none;
    border: none;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    cursor: pointer;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.btn:hover{
    background: black;
    scale: 1.1;
}
